<form action="/review-product" method="POST">
  <div id="display-on-select">
    <% questions.forEach(function(question) { %>
    <div class="row justify-content-around mb-3">
      <p class="col-3"><%= question.text %></p>

      <!-- Poor -->
      <div class="form-check col-1">
        <input
          required
          class="form-check-input"
          type="radio"
          name="<%= question._id %>"
          value="poor"
          id="rad1_<%= question._id %>"
        />
        <label class="form-check-label" for="rad1_<%= question._id %>">
          Poor
        </label>
      </div>

      <!-- Average -->
      <div class="form-check col-1">
        <input
          required
          class="form-check-input"
          type="radio"
          name="<%= question._id %>"
          value="average"
          id="rad2_<%= question._id %>"
        />
        <label class="form-check-label" for="rad2_<%= question._id %>">
          Average
        </label>
      </div>

      <!-- Good -->
      <div class="form-check col-1">
        <input
          required
          class="form-check-input"
          type="radio"
          name="<%= question._id %>"
          value="good"
          id="rad3_<%= question._id %>"
        />
        <label class="form-check-label" for="rad3_<%= question._id %>">
          Good
        </label>
      </div>

      <!-- Very Good -->
      <div class="form-check col-2">
        <input
          required
          class="form-check-input"
          type="radio"
          name="<%= question._id %>"
          value="very-good"
          id="rad4_<%= question._id %>"
        />
        <label class="form-check-label" for="rad4_<%= question._id %>">
          Very Good
        </label>
      </div>
    </div>
    <% }); %>

    <input type="hidden" name="productId" value="<%= productId %>" />
    <div class="d-flex justify-content-center">
      <button class="btn text-center btn-lg btn-success mb-4" type="submit">
        Submit
      </button>
    </div>
  </div>
</form>
